*.a filter=lfs diff=lfs merge=lfs -text
*.unity3D filter=lfs diff=lfs merge=lfs -text
*/unity/*.dat filter=lfs diff=lfs merge=lfs -text
**/unity/*.dat filter=lfs diff=lfs merge=lfs -text
unity[[:space:]]default[[:space:]]resources filter=lfs diff=lfs merge=lfs -text
ios/FloorAR/FloorAR/FloorAR/CambrianAR.framework/CambrianAR filter=lfs diff=lfs merge=lfs -text
ios/FloorAR/creative/camera-icon.psd filter=lfs diff=lfs merge=lfs -text
