

github "cornerAnt/Digger"
github "marmelroy/Zip"
github "realm/realm-cocoa"
github "JonasGessner/JGProgressHUD"
github "SDWebImage/SDWebImage"
github "luispadron/UICircularProgressRing"
github "aws/aws-sdk-ios"
